body{
    background-color: #2FC839;
}


p {
    font-family: 'Racing Sans One', cursive;
}

h1,h3,h2 {
    font-family: 'Racing Sans One', cursive;
}

span{
    font-family: 'Racing Sans One', cursive;
}

